
<% var userId = componentId('answer', user.id) %>
<div class="col s12 m4 divuserBio" id="<%=userId%>">
	<script>
	$(function() {
	  app.components.userBio($('#<%= userId %>'));
	});
	</script>
    <div class="about-user">
        <span>@<%=user.username%></span>
        <span><%=user.name%></span>
        <p class="userbio"><%= user.bio%></p>
    </div>
</div>
