<% var answerVideoId = componentId('answerModal', answer.id) %>
<% var isDashSupported = uaData.ua.toString().indexOf('Chrome') !== -1 ? true :false %>
<% var videoUrlDash = isDashSupported ? (answer.dash_video_url ? answer.dash_video_url  : answer.video_url) : answer.video_url %>
<% var videoUrl = answer.video_url %>

<div class="row answerVideo" id="<%= answerVideoId %>" data-answer-id="<%= answer.id %>">
  <script>
    $(function () {
      app.components.answerVideoModal($('#<%= answerVideoId %>'));
      $(document).foundation();
    });
  </script>

  <div class="embedTmpl" style="display:none;">
    <div style="position: absolute; top: 10px; right: 10px;"><i class="icon-close scolor2 cs"></i></div>
    <p>Title: <%= answer.question.body %></p>
    <table width="100%">
      <tr>
        <td width="20%">Large</td>
        <td width="80%">
          <input onclick="this.select();" type="text" value="<iframe scrolling='no' frameborder='0' marginheight='0px' marginwidth='0px' height='450px' width='600px' src='http://embed.frankly.me/userWidgetBatch/template.html?user=<%= answer.author.username %>&slug=<%= answer.question.slug %>'></iframe>" />
        </td>
      </tr>
      <tr>
        <td>Small</td>
        <td>
          <input onclick="this.select();" type="text" value="<iframe scrolling='no' frameborder='0' marginheight='0px' marginwidth='0px' height='450px' width='250px'  src='http://embed.frankly.me/userWidgetBatch/template.html?user=<%= answer.author.username %>&slug=<%= answer.question.slug %>'></iframe>" />
        </td>
      </tr>
    </table>
  </div>

  <div class="panel-header nbrrbottom nbr">
    <div class="row text-right">
      <div class="small-12 columns">
        <i class="icon-close scolor2 cs"></i>
      </div>
    </div>
    <div class="row">
      <div class="columns small-1">
        <i class="icon-answer scolor2  f-2x" style="line-height: 0; margin-top: -5px"></i>
      </div>

      <div class="columns small-11 toggleQuestion" style="position: relative; height: 30px; overflow: hidden;">
        <span style="position: absolute; right: 16px; top: 3px;" class="toggleIcon cs scolor" data-state="close"><i class="icon-down"></i></span>
        <h5 class="scolor serif">
          <a href="<%= genUrl(answer.author.username + '/' + answer.question.slug) %>" class="scolor">
            <%= answer.question.body %>
          </a>
        </h5>
      </div>
    </div>
  </div>

  <div class="panel nbrrtop nm nbr">
    

    <div class="row">
      <div class="columns small-7 videoContainer">
        <div class="videoContainer">
          <div class="videoHolder" style="width: 100%; min-height: 520px;">
            <video class="img-f" src="<%= videoUrl %>"
              data-uuid="video-<%= answerVideoId %>" data-dash="<%= isDashSupported %>"
              style="height: 100%;background-color:#fff;" data-crop-to-fit 
             
            >
            </video>
          </div>
        </div>
      </div>

      <div class="columns small-5 card-meta">
        <div class="row text-right">
          <div class="small-12 columns">
            <a data-dropdown="drop<%= answer.id %>"><i class="icon-down scolor2 s"></i></a>
            <ul class="f-dropdown text-left tiny" data-dropdown-content=""
            id="drop<%= answer.id %>" tabindex="-1">
              <li>
                <a href="#" class="embedBtn">Embed</a>
              </li>
              <!-- <li>
                <a href="#" id="reportBtn">Report</a>
              </li> -->
              <li>
                <a href="<%= genUrl(answer.promo_video_url) %>" id="reportBtn" download>Download</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 s-ws-top columns">
            <img src="<%= answer.author.profile_photo_url || '/img/user.png' %>" class="img-c">
          </div>
          <div class="small-10 s-ws-top columns">

            <a href="<%= genUrl(answer.author.username) %>">

              <div class="s-ws-left xs-ws-top scolor">
                <%= answer.author.name || answer.author.username %>
              </div>
            </a>
          </div>
        </div>
        <div class="row scolor s text-center">
        <%if (answer.is_liked && me) { %>
            <div class="b-ws-top b-ws-top-p small-6 cs columns link likeBtnTrg"
                  data-target="<%= '/unlike/'+answer.id %>" data-state="liked">
              <i class="icon-like f-2x likeBtnIcon brandc"></i>
              <div>
                <span class ="likeBtn">Liked </span> <span class="s scolor2 num_likes"><%= answer.num_likes %></span>
              </div>
            
          <% } else { %>
            <div class="b-ws-top b-ws-top-p small-6 cs columns link likeBtnTrg"
                  data-target="<%= '/like/'+answer.id %>" data-state="unliked">
              <i class="icon-like f-2x likeBtnIcon"></i>
              <div>
                <span class ="likeBtn">Likes </span> <span class="s scolor2 num_likes"><%= answer.num_likes %></span>
            </div>
            
          <% } %> 
          
            
          </div>
          <!-- <div class="s-ws-top small-4 cs columns">
          <div><i class="icon-comment f-1-25x"></i></div>
          <div>Comments <span class="s scolor2">123</span></div>
          </div> -->
          <% var slugBody = answer.question.slug %>
          <%  var lastIndex = slugBody.lastIndexOf("-"); %>
          <%   slugBody = slugBody.substring(0, lastIndex);%>
          <%   slugBody=slugBody.replace(/-/g,' ');%>
          <%    var emailBody='Watch ' + answer.author.username + '\'s answer to "' + slugBody + '" at: %0A%0A' + "http://frankly.me/" + answer.author.username + "/" + answer.question.slug;%>
          <div class="b-ws-top b-ws-top-p small-6 cs columns link">
            <div id="icon-share-<%= answerVideoId %>"
                 data-url="http://frankly.me/<%= answer.author.username+'/'+answer.question.slug %>"
                 data-email="<%= answer.author.username %>"
                 data-slug="<%= emailBody %>"
                 data-title="A video has been shared to you via Frankly.me"
                 

            ></div> 
            <br/>
            <div>
              Share <span class="s scolor2 num_shares"><%= answer.num_shares %></span>
            </div>
          </div>
        </div>

        <% var totalComments = parseInt(answer.num_comments) %>
        <% var shownComments = answer.num_comments < 3 ? totalComments : 3 %>
        <div class="row comments s"
              style="margin-top:8.7em"
              data-id="<%= answer.id %>"
              data-source="<%= '/'+answer.id+'/comments' %>"
              data-loaded-comments="<%= shownComments %>"
              data-total-comments="<%= totalComments %>"
        > 
          <div class="s scolor2 xs-ws-bottom small-8 columns lfx comments-info <%= shownComments > 0 ? '' : 'hide' %>">
            Showing <span class="count"><%= shownComments %></span>
            of <span class="total"><%= totalComments %></span> comments
          </div>

          <div class="small-4 s columns text-right show-all <%= shownComments > 0 ? '' : 'hide' %>">
            <a class="right s scolor cmtTrg" href="#">Expand</a>
          </div>

          <div class="comment-box small-12 columns s-ws-bottom">
            <div class="comment-box-inner">
              <%- include(partials.comments, {comments: answer.comments}) %>
            </div>
            <% if (totalComments > shownComments) { %>
              <a href="#" class="load-more">+ Load More</a>
            <% } %> 
          </div>

          <div class="row comment-input">
            <% if (shownComments === 0) { %>
              <div class="small-11 columns s scolor xs-ws-bottom">
                No comments yet, be the first to comment
              </div>
            <% } %>
            <div class="small-12 columns scolor2">
              <input
                class="alt nm comment-input"
                placeholder="Press enter to Post" type="text"
                data-user-img="<%= me ? (me.profile_photo_url || '/img/user.png') : '/img/user.png' %>"
                data-user-name="<%= me ? me.username : '' %>"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>