<div class="top">
  <span data="#one"></span>
  <span data="#two"></span>
  <span data="#three"></span>
  <span data="#four"></span>
  <span data="#five"></span>
  <span data="#six"></span>
</div>

<%- include(partials.section1) %>
<%- include(partials.section2) %>
<%- include(partials.section3) %>
<%- include(partials.section4) %>
<%- include(partials.section5) %>
<%- include(partials.section6) %>
