<%- include(partials.top) %>
<!-- body starts here -->

<div id="auth">
  <%- include(partials.auth) %>
</div>
<div class="" id="nav">
  <%- include(partials.nav) %>  
</div>

<div class="container" id="panel">
  <%- include(partials.panel) %>
</div>

<!-- body ends here -->
<div id="bottom">
  <%- include(partials.bottom) %>
</div>