<div class="row header-padding-top">
    <div class="col s12 m12">
      <div class="selected-category"><i class="<%=icon%>"></i></div>

      <div class="category-dropdown link">
        <div class="dropdown-selected">
          <a  class="evtdropdown"><%= category %><i class="icon-arrow-down"></i></a></div>
        <div class="category-group-list">
          <ul class="list-categories">
            <li><a href="<%= genUrl('category/books-literature/icon-books-literature') %>">
              <i class="icon-books-literature"></i>Books &amp; Literature</a>
            </li>
            <li><a href="<%= genUrl('category/startups-business/icon-business-startups') %>"><i class="icon-business-startups"></i> StartUp and Business</a>
            </li>
            <li><a href="<%= genUrl('category/comedy-humour/icon-comedy') %>"><i class="icon-comedy"></i>Comedy and Humour</a></li>
            <li><a href="<%= genUrl('category/entertainment/icon-Entertainment') %>"><i class="icon-Entertainment"></i>Entertainment</a>
            </li>
            <li><a href="<%= genUrl('category/experts/icon-experts') %>"><i class="icon-experts"></i>Experts</a></li>
            <li><a href="<%= genUrl('category/fashion-lifestyle/icon-fashion-lifestyle') %>"><i class="icon-fashion-lifestyle"></i>Fashion And Lifestyle</a>
            </li>
            <!-- <li><a href="<%= genUrl('category/Feedingfitness/icon-feeding-fitness') %>"><i class="icon-feeding-fitness"></i>Feedingfitness</a></li> -->
            <li><a href="<%= genUrl('category/food-health/icon-food-health') %>"><i class="icon-food-health"></i>Food and Health
            </a></li>
            <li><a href="<%= genUrl('category/Photography/icon-photography') %>"><i class="icon-hiring"></i>Photography</a></li>
            <li><a href="<%= genUrl('category/music/icon-music') %>"><i class="icon-music"></i>Music</a></li>
            <li><a href="<%= genUrl('category/politics/icon-politics') %>"><i class="icon-politics"></i>Politics</a></li>
            <li><a href="<%= genUrl('category/sports/icon-sports') %>"><i class="icon-sports"></i>Sports</a></li>
            <li><a href="<%= genUrl('category/Technology/icon-technology') %>"><i class="icon-technology"></i>Technology</a></li>
            <li><a href="<%= genUrl('category/tv/icon-television') %>"><i class="icon-television"></i>Television</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
