<style>
  .video-wrapper-cir {
    width: 100%; 
    border-radius: 50%;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
  }

/* to be removed for circular profile videos  */
  video {
    display: none;
    width: 100%;
  }
</style>

<% var askPopupId = profile.id+'askPopup' %>
<div id="<%= askPopupId %>" data-user-id="<%= profile.id %>" data-target="<%= '/ask/'+profile.id %>">
  
  <script>
    $(function () {
      app.components.askPopup($('#<%= askPopupId %>'));
    });
  </script>

  <div id="alert-hook">
    <div data-alert id="alert-box" class="alert-box-wrapper alert-box radius nbrrtop text-center" style="display:none;">
      Loading...
      <a href="#" class="close">&times;</a>
    </div>
  </div>

  <section class="ask-process">
    <div class="large-3 medium-4 columns b-ws-top">
      <div class="row">
        <div class="small-4 medium-10 large-12 columns medium-centered">
      <div class="row">
        <div class="large-10 small-12 columns small-centered large-centered">
          <div class="pv">
            <div class="video-wrapper-cir intro-cir videoContainer">
              <div class="videoOverlay introOverlay">
                <img src="<%= profile.profile_photo_url || '/img/user.png' %>" class="img-f">
                <i class="icon-vid wc" style="left:43%; top:40%;"></i>
              </div>
              <div class="videoHolder">
                <video src="<%= profile.intro_video_url %>" class="introVideo" data-username="<%= profile.username %>" data-profile-status="1" data-crop-to-fit data-square-video></video>
              </div>
              <div class="videoEnded text-center" style="display: none; background-color: #000; position: relative;">
                <a href="<%= genUrl(profile.username) %>" target="_blank" style="top: 40%; left: 15%; position: absolute;">/<%= profile.username %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="small-8 medium-12 large-12 columns">
      <h4 class="xs-ws-top text-center"><a><%= profile.name || profile.username %></a></h4>
      <h5 class="scolor f-l text-center" style="word-break: break-all;">@<%= profile.username %></h5>
      <!-- </div>
      <div class="small-12 columns large-12"> -->
      <% if (profile.is_following && me) { %> 
      <div class="button alt fullwidth tiny s-ws-top profile followBtn success"
        data-state="following"
        data-target="<%= '/unfollow/'+profile.id %>" data-username="<%= profile.username %>" data-profile="true">
        <i class="icon-check"> </i> Followed 
      </div>
      <% } else {%>
      <div class="button alt fullwidth tiny s-ws-top profile followBtn"
        data-state="not-following"
        data-target="<%= '/follow/'+profile.id %>" data-username="<%= profile.username %>" data-profile="true">
        <i class="icon-plus"></i> Follow 
      </div>
      <% } %>
      </div>
      </div>

      <div class="row s2 text-center hide-for-small-only">
        <div class="columns large-6 medium-6 m-ws-top">
          <div><%= profile.views %></div>
          <div><span class="s scolor">Views</span></div>
        </div>

        <div class="columns large-6 medium-6 m-ws-top">
          <div class="profile followersCount"><%= profile.followers %></div>
          <div><span class="s scolor">Followers</span></div>
        </div>
      </div>
    </div>


    <div class="large-9 small-12 medium-8 columns scolor b-ws-top">
      <section class="row ask-overview">
        <div class="s text-right countDisplay"></div>
        <textarea class="postArea brr fbl" data-maxlength="300" data-minlength="15" rows="5" placeholder="Ask something sensible"></textarea>
        <% if (me === null) { %>
          <div class="right button small fullwidth s-ws-top postIntermediateBtn">Submit question</div>
        <% } else {%>
          <div class="right button small fullwidth s-ws-top postBtn">Submit question</div>
        <% } %>
      </section>
      <section class="row ask-intermediate" id="t3" style="display:none;">
        <div class="f-1-2-5x">
          <span id="t10"><% if (me) { %> <%= me.name %> <% } else { %> You <% } %></span>
          asked
          <span class="bkc"><%= profile.name || profile.username %></span>,
          "<span class="askQuestionBody"></span>"
        </div>
        <div class="panel s-ws-top">
          <div class="row ask-intermediate-name">
            <div class="large-6 small-12 columns">
              <label>Name
                <input class="asker-name" type="text">
              </label>
            </div>
            
            <div class="large-6 small-12 medium-8 columns s-ws-top ">
              <div class="row t5" >
                <div class="small-2 columns text-right" style="margin-top:2px;">
              <i class="icon-hint yc f-2x"></i> 
              </div>
              <p class="small-10 columns scolor s xs-ws-top">
              <%= profile.name || profile.username %> would want to address you by your name in the reply
              </p>
              </div>
            </div>
          </div>
          
          <div class="row t6" style="display:none;">
            <div class="large-6 small-12 columns">
              <label>Email
                <input class="asker-email" type="email">
              </label>
            </div>
            <div class="large-6 small-12 medium-8 columns s-ws-top ">
              <div class="row" id="t5">
                <div class="small-2 columns text-right" style="margin-top:2px;">
              <i class="icon-hint yc f-2x"></i> 
              </div>
              <p class="small-10 columns scolor s xs-ws-top">
                We need your email to autheticate and notify you when <%= profile.name || profile.username %> replies
              </p>
              </div>
            </div>
          </div>
            
          <div class="row ask-intermediate-password" style="display:none;">
            <div class="large-6 small-12 medium-4 columns">
              <label>Password
                <input class="asker-password" type="password">
              </label>
            </div>
            <div class="large-6 small-12 medium-8 columns s-ws-top ">
              <div class="row t5">
                <div class="small-2 columns text-right" style="margin-top:2px;">
              <i class="icon-hint yc f-2x"></i> 
              </div>
              <p class="small-10 columns scolor s xs-ws-top">
                We need you to login to notify you when <%= profile.name || profile.username %> replies
              </p>
              </div>
            </div>
          </div>
            
          <div class="row">
            <div class="large-6 small-12 columns text-right t4">
              <span class="scolor2 s2 s-ws-right s-ws-top">Step 1 of 2</span>
              <span class="button small" >Next</span>
            </div>
            <div class="large-6 small-12 columns text-right t7" style="display:none;">
              <span class="scolor2 s2 s-ws-right s-ws-top">Step 2 of 2</span>
              <span class="button small asker-submit-btn">Submit Question</span>
              <span class="<button></button> small asker-login-btn" style="display:none">Submit Question</span>
            </div>
            <div class="large-5 large-offset-1 small-12 columns scolor f-l s">
              <div>or sign up using</div> 
              <div class="xs-ws-top">
                <div class="button tiny fb alt"><i class="icon-facebook"></i></div>
                <div class="button tiny twt alt s-ws-left"> <i class="icon-twitter"></i></div>
                <div class="button ggl tiny alt s-ws-left"> <i class="icon-google"></i></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <section class="ask-success row" style="display:none;">
    <div class="small-12  columns">
    <% if (profile.answer_count > 3) {%>
      <h5 class="s-ws-top s-ws-bottom text-center scolor">Other answers by <%= profile.name || profile.username %></h5>

      <div class="row">
        <% answers.forEach(function (a) { %>
          <div class="large-4 small-12 medium-6 columns">
            <%- include(partials.playableAnswerSm, {answer: a}) %>
          </div>
        <% }) %>
      </div>
      
    <% } else {%>
      <h5 class="s-ws-top s-ws-bottom text-center scolor">Other Franksters</h5>

      <div class="row">
        <% users.forEach(function (u) { %>
          <div class="large-4 medium-6 small-12 columns">
            <%- include(partials.userSm, {user: u, showTitle: true}) %>
          </div>
        <% }) %>
      </div>
    <%}%>
      <div class="large-6 columns large-offset-3">
        <a href="<%= genUrl(profile.username) %>"><span class="button small fullwidth alt">View Complete Profile of <%= profile.name || profile.username %> </span> </a>
      </div>
      <!-- <div class="large-6 columns">
        <span class="button medium right fullwidth">View other people like <%= profile.name || profile.username %></span>
       --></div>
    </div>
  </section>

</div>

<!-- Google Code for Questions Asked Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
  goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 948713539;
    w.google_conversion_label = "XuHaCKHQ0lsQw_CwxAM";
    w.google_remarketing_only = false;
  }
  // DO NOT CHANGE THE CODE BELOW.
  goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    window.google_is_call = true;
    var opt = new Object();
    opt.onload_callback = function() {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  }
  var conv_handler = window['google_trackConversion'];
  if (typeof(conv_handler) == 'function') {
    conv_handler(opt);
  }
}
/* ]]> */
</script>
<script type="text/javascript"
  src="//www.googleadservices.com/pagead/conversion_async.js">
</script>
