<%- include(partials.top) %>


    <%- include(partials.modals) %>
  <div id="nav">
    <%- include(partials.nav) %>
  </div>

  <div id="panel">
    <%- include(partials.panel) %>
  </div>


<%- include(partials.bottom) %>