<%- include(partials.top) %>

<%- include(partials.modals) %>
<style>
.circle {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}

/* to be removed for circular profile videos  */

</style>
<div id="nav">
  <%- include(partials.nav) %>
</div>

<div id="panel">
  <%- include(partials.panel) %>
</div>


<%- include(partials.bottom) %>